/* "#" is id, "." is class. For child"," we do not need "."  */

/* when define class is wrapper, always define size because we use it as a block */
/* by default, all the global css default are for cellphone view */

.selector-for-some-widget {
  box-sizing: content-box;
}


/* Define global level variables */
:root {
    --navbar_height:50px;
	--info_line_height:80px; /*overlay info panel*/
	--search_height:40px; /*overlay info panel*/
	--num_info_line:3;
	--copyright_claim_height:100px;
}


/* global used define */
.row {
    margin-left: 0;
    margin-right: 0;
}

/* nav bar */
#nav_menu_bar{
	height:var(--navbar_height);
}
#navbar {
    margin-left:auto;
    margin-right:auto;
}

/* main body */
/*TODO: Use ::after, after cellphone mode, we need to height to full height.  */
#map_and_side_wrapper{
	height:calc(100vh - var(--navbar_height) - var(--num_info_line)*var(--info_line_height) - var(--search_height)); /* navbar is 50px, each info line is 80px, we support 3*/
	margin:0px;
	padding:0px;
}

#map {
	height: 100%;
	margin:0px;
}


#side_info_panel{
	border:solid 2px;
	border-color: black;
	height:100%;
	text-align: center;
}


/* overlay_info_panel */
#overlay_info_panel{
	height:calc(var(--num_info_line)*var(--info_line_height) + var(--search_height));
	position:absolute;
	bottom:0px;
}
.search_bar{
	height:var(--search_bar_height);
}
.each_info_line{
	border-top: 1px dashed;
	border-color:#A6A6A6;
	height:var(--info_line_height);
}


/* copy right */
#copyright_claim{
	text-align: center;
	height:var(--copyright_claim_height);
}







/* animation control */




/*.col-xs- PHONE	.col-sm- TABLES	.col-md- DESKTOP	.col-lg- DESKTOP>1200px   */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#map_and_side_wrapper{
		height:calc(100vh - var(--navbar_height) - var(--copyright_claim_height));
	}
	#overlay_info_panel{
		display: none;
	}
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
	
}